<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="stylesheet.css" rel="stylesheet"/>
</head>
<body>
<h2>Sign in</h2>

<form action="/user" method="post">
  <input type="email" name="email" placeholder="email address">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign in">
</form>

<form action="/user/new" method="get">
  <input type="submit" value="Create new account">
</form>
</body>
</html>
