<form action="/properties/list" method="post">
<input type="text" name="title" placeholder="title of property">
<input type="text" name="city" placeholder="city">
<input type="submit" value="Add">
</form>