<form action="/properties/list" method="post">
<input type="text" name="title" placeholder="title of property">
<input type="text" name="city" placeholder="city">

<input type="text" name="pricepernight" placeholder="price per night">
<input type="date" name="date_from" min=>
<input type="date" name="date_till">
<p> 
    <input type="text" size="110" name="details" placeholder="property description">
<input type="submit" value="Add">
</form>


<!-- <body>

<h1>Show a date control:</h1>

<form action="/action_page.php">
  Date available from:  <input type="date" name="bday" min="#{date_from}" max="#{date_until}">
  <input type="submit">
</form>
<form action="/action_page.php">
  Until: <input type="date" name="bday" min="#{date_from}" max="#{date_until}">
  <input type="submit">
</form>

</body> -->
