body{background-color:#d829b2;background-image:url(bg.jpg); background-position: 50% 0; background-repeat: no-repeat;background-size: 70%;  }
.container{width:100%;display:inline-block;height:auto;}
.section{float:left;width:50%;text-align:center;}
h2{font-family: cursive;
  font-size: 40px;
  color: #de4e93;
  background-color: #e5cd45;}

  input.button {
    font-size: 23px;
    display: block;
    margin: 2% auto;
    border: none;
    background-color: #82c9db;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 5px;
}

input.button:hover {    color: #de4e93;
  background-color: #e5cd45;}
