<form action="/user/signup" method="post">
  <input type="email" name="email" placeholder="email address">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign up">
</form>